html {
/*    height: 100%;*/
    width: 100%;
    color: #666666;
}
#title, h1, h2{
    margin:0 3em .1em 3em;
    text-align:center;
/*    margin: 0em auto;*/
    font-weight: normal;
/*    text-align: left;*/
}
.column{
  display: inline-block;
  vertical-align: top;
}
body{
/*    height: 100%;*/
    width: 100%;
    margin: 0em auto;
    font-family: 'cwTeXYen', sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: normal;
    color: #666666;
    max-width: 1000px;
    padding: 2em 2em 4em;
    font-size:1em;
    background: #fff;
/*    color: #545454;*/
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*    font-size: 16px;*/
/*    line-height: 1.5;*/
}